@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Vazirmatn", sans-serif;
}

.heart {
  font-size: 20px;
  animation: heartbeat ease-in-out infinite 1.2s;
}
.scrollbarnone::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes heartbeat {
  0% {
    font-size: 18px;
  }
  20% {
    font-size: 20px;
  }
  40% {
    font-size: 18px;
  }
  60% {
    font-size: 20px;
  }
  80% {
    font-size: 18px;
  }
  100% {
    font-size: 18px;
  }
}
