@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Vazirmatn", sans-serif;
}

.heart {
	font-size: 20px;
	animation: heartbeat ease-in-out infinite 1.2s; 
}

@keyframes heartbeat {
  0% {
    font-size: 18px;
  }
  20% {
    font-size: 20px;
  }
  40% {
    font-size: 18px;
  }
  60% {
    font-size: 20px;
  }
  80% {
    font-size: 18px;
  }
  100% {
    font-size: 18px;
  }
}
